@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{

    --background: #000000;
    --red: #C20000;
    --blue: #001F70;
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    --gray:#232126;
    --font: 'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: var( --font );
    font-size: 16px;
    background-color: var( --background );
}
img{
    width: 100%;
}
.topo{
    width: 100%;
    height: 5em;
    background-color: #000;
}
.content{
    width: 80%;
    height: 100%; 
    max-width: 75em;
    margin: auto;
}
.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topo img{
    max-width: 21.18em;
}
.menu{
    width:100%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.9em 0.5em;
    text-transform: uppercase;
}
.menu a:hover{
    background-color: var(--red);
}
#menu-bars{
    display: none;
}
.banner{
    width: 100%;
    position: relative;
}
.banner-position{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.banner-content{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.banner-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.banner-text h1{
    font-size: 5.62em;
}
.banner-text p{
    font-size: 1.87em;
}
.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}
.jogos{
    width: 100%;
    height: 7.5em;
    color: white;
}
.jogos ul{
    list-style-type: none;
    width: 100%;
}
.jogos ul a:hover img{
    transition: 0.2s; /*Tempo da Transição da Imagem*/
    transform: scale(1.1); /*Faz o elemento aumentar 1.1 vezes na largura e altura*/
}

.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    position: relative;

}
.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.angulation{
    width: 100%;
    height: 24em;
    background-color: #000;
    transform: skewY(-3deg) /*Fez a Angulação do elemento no Eixo Y*/
}
.about-position{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.about-text{
    width: 50%;
    color: #fff;
    text-align: justify;
}
.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;

}
.about-text p{
    font-size: 1.125em;
    margin-bottom: 1em;
}
.about-position img{
    max-width: 31.87em;
}
.jogos-aovivo, .jogos-embreve{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.575em;/*25,12px*/
}
.jogos-aovivo h2, .jogos-embreve h2{
    font-size: 1.2em;
    text-transform: uppercase;
}
.linha{
    height: 3em;
    border:solid 1px #fff;
}

.partida{
    width: 9.5em;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    margin-left: 1em;
}
.partida img{
    max-width: 1.8em; /*54px*/
}
.time1, .time2{ /*Faz mudanças nas duas classes*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}
.time1 img{
    margin-left: 0.5em;
}
.time2 img{
    margin-right: 0.5em;
}
.fundo-noticias{
    width: 100%;
    height: 55.125em;
    background-color:var(--gray);
}
.noticias{
    width: 70%;
    height: 90%;
}
.wrap{
    flex-wrap: wrap;
}
.noticias h2, aside>h2 {
    font-size: 2.1875em;
    color: #fff;
    text-transform: uppercase;
}
.card-noticia{
    width: 14.8125em;
    height: 22.5em;
    background: linear-gradient(180deg, #232126 54.51%, rgba(255, 255, 255, 0) 100%), #000000;
    box-shadow: 10px 10px 5px #000;
    color: #fff;
    margin-bottom: 1.5em;
}
.card-noticia h3{
    margin-left: 0.9375em;
}
.card-noticia p{
    margin-left: 0.9375em;
}

.proximos-jogos{
    width: 14.8125em;
    height: 46.875em;
    background: linear-gradient(180deg, #232126 54.51%, rgba(255, 255, 255, 0) 100%), #000000;
    box-shadow: 10px 10px 5px #000;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.jogos-futuros{
    width: 221px;
    height: 78px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.jogos-futuros p{
    margin: auto;
    color: #fff;
}
.rodape{
    width: 100%;
    height: 13.125em;
    color: #fff;
    display: flex;
}
.rodape ul{
    list-style-type: none;
}
.rodape a{
    text-decoration: none;
    color: #fff;
}
.conteudo-rodape{
    width: 100%;
    display: flex;
}
.links-uteis{
    margin-right: 1.875em;
}
.conteudo-rodape img{
    display: flex;
    max-width: 286px;
    justify-content: center;
}
.sociais{
    width: 33%;
}
.newsletter{
    display: flex;
    flex-direction: column;
}
.newsletter h2{
    font-size: 0.875em;
    margin-bottom: 1em;
}
.newsletter form{
    display: flex;
}
.newsletter input[type= "email"]{
    width: 12.5em;
    height: 2.5em;
    font-size: 1.1em;
    padding-left: 1em;
}
.newsletter input[type="email"]::placeholder{
    color: rgb(102, 102, 102);
    font-weight: bold;
}
.newsletter input[type="submit"]{
    width: 9.75em;
    height: 2.5em;
    font-size: 1.1em;
    background-color: #8326EF;
    color: #fff;
}
.siga-nos{
    margin-top: 1em;
}
/*1280px*/
@media screen and (max-width:80em){
    .topo img {
        max-width: 13.18em;
    }
    .menu a{
        font-size: 1em;
        padding: 2em 0.8em;
    }
    .banner-text h1 {
        font-size: 4.62em;
    }
    .banner-text p {
        font-size: 1.5em;
    }
    .banner-text a {
        font-size: 1.5em;
    }
    .about-position img {
        max-width: 27.87em;
    }
    .fundo-noticias{
        height: auto;
    }
    .card-noticia{
        margin-right: 2px;
    }
}
/*1200px*/
@media screen and (max-width: 75em){
    .menu a {
        font-size: 1em;
        padding: 2em 1.5em;
    }
    .topo img {
        width: 9em;
    }
    .banner-text h1{
        font-size: 3.85em;
    }
    .banner-text p{
        font-size: 1.5em;
    }
    .banner-text a {
        font-size: 1.5em;
    }
    .jogos img{
        width: 70%;
    }
    .about-text p {
        font-size: 1em;
    }
    .about-position img {
        max-width: 25.87em;
    }
    .jogos-aovivo h2, .jogos-embreve h2 {
        font-size: 0.95em;
    }
    .jogos-aovivo, .jogos-embreve {
        font-size: 1.5em;
    }
    .fundo-noticias{
        height: auto;
    }
    .noticias h2, aside > h2 {
        font-size: 2.18em;
    }
}
/*992px*/
@media screen and (max-width: 62em){
    .banner-text h1 {
        font-size: 2.85em;
    }
    .banner-text p, .banner-text a {
        font-size: 1.2em;
    }
    .jogos{
        height: 5em;
    }
    .about-text h2 {
        font-size: 2em;
    }
    .about-text p {
        font-size: 0.95em;
    }
    .about-position img {
        max-width: 20.87em;
    }
    .jogos-aovivo, .jogos-embreve {
        font-size: 1.1em;
    }
    .noticias {
        width: 65%;
    }
    .noticias h2, aside > h2 {
        font-size: 2em;
    }
    .proximos-jogos {
        width: 14.5em;
    }
    .links-uteis h2, .paginas h2{
        font-size: 1em;
    }
    .rodape a{
        font-size: 0.875em;
    }
    .conteudo-rodape img{
        max-width: 12.5em;
    }
    .newsletter input[type="email"], .newsletter input[type="submit"] {
        width: 9.5em;
        height: 2em;
    }
    .siga-nos h2{
        font-size: 1.25em;
    }

}
/*768px*/
@media screen and (max-width: 48em){
   .menu{
       display: flex;
   }
    .menu ul {
        z-index: 99;
        display: none;
        width: 100%;
        max-width: 100%;
        height: 350px;
        flex-direction: column;
        position: absolute;
        background-color: #000;
        top:80px;
        left: 0;
        justify-content: space-around;
   }
   .menu a{
    padding: 0.9em 0.8em;
   }

   #menu-bars{
        display: block;
        margin-left: auto;
   }
   .about-text p {
    font-size: 0.85em;
   }
   .about-text h2 {
    font-size: 1.5em;
    }
    .about-position img {
        max-width: 16.87em;
    }
    .jogos-aovivo, .jogos-embreve {
        font-size: 0.9em;
    }
    .noticias h2, aside > h2 {
        font-size: 1.5em;
    }
    .card-noticia{
        width: 10.813em;
        height: 18.8em;
    }
    .card-noticia p{
        font-size: 13px;
    }
    .proximos-jogos {
        width: 11.5em;
    }
    .links-uteis h2, .paginas h2 {
        font-size: 0.89em;
    }
    .rodape a {
        font-size: 0.7em;
    }
    .conteudo-rodape img {
        max-width: 9.5em;
    }
    .newsletter h2 {
        font-size: 0.7em;
    }
    .newsletter input[type="email"] {
        width: 5.8em;
    }
    .newsletter input[type="submit"] {
        height: 2.5em;
    }
    .siga-nos h2 {
        font-size: 1em;
    }
    .newsletter input[type="email"]::placeholder{
        font-size: 0.75em;
    }
    .newsletter input[type="submit"]{
        font-size: 0.9em;
    }
}
/* Até 576px */
@media screen and (max-width: 36em){
    .banner-text h1 {
        font-size: 1.85em;
    }
    .banner-text p, .banner-text a {
        font-size: 0.9em;
    }
    .about-text h2 {
        font-size: 1.3em;
    }
    .about-text p {
        font-size: 0.7em;
    }
    .about-position img {
        max-width: 13.87em;
    }
    .jogos-aovivo, .jogos-embreve {
        margin: auto;
        flex-direction: column;
    }
    aside{
        width: 50%;
    }
    .proximos-jogos {
        width: 10.5em;
    }
    .flex-center-bt {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .conteudo-rodape img {
        max-width: 6.5em;
    }
}